
- const HideOnDocSite = (docLink === '')? Style.Hide: {};

header
  h4(style=[ Style.tagline ]) GET STARTED
  if !hideSDKTabs
    nav(style=[ Style.platform.row ])
      div(style=[ Style.platform.item ])= children[0]
      div(style=[ Style.platform.item ])= children[1]
      div(style=[ Style.platform.item ])= children[2]
  nav(style=[ Style.project.row ])
    div(style=[ Style.project.item ])= children[3]
    div(style=[ Style.project.item ])= children[4]
    a(style=[ Style.docLink, HideOnDocSite ], href=docLink, target='_blank' ) Read our Doc
