
- const r = React.createElement;
- const showWhenActive = (sdk !== targetSDK)? Style.Hide: {};
- const highlightWhenActive = (sdk === targetSDK)? Style.platform.Active: {};

section(style=[ Style.platform.item, highlightWhenActive ], onClick=setSDK(targetSDK))

  span(style=[ Style.platform.tick, showWhenActive ])= r(Icon.tick)

  span(style=[ Style.platform.icon ])= r(Icon[targetSDK])
  h3(style=[ Style.platform.title ])= title
  p(style=[ Style.platform.desc ])= desc

  div(style=[ Style.project.row, showWhenActive ])

    // project: new
    div(style=[ Style.project.column ])
      div(style=[ Style.project.item ], onClick=setProject('new'))
        span(style=[ Style.project.icon ])
          = React.createElement(Icon.new)
        h3(style=[ Style.project.title ]) New App
        p(style=[ Style.project.desc ]) Building a new app from scratch

    // project: existing
    div(style=[ Style.project.column ])
      div(style=[ Style.project.item ], onClick=setProject('existing'))
        span(style=[ Style.project.icon ])
          = React.createElement(Icon.app)
        h3(style=[ Style.project.title ]) Exisiting App
        p(style=[ Style.project.desc ]) Integrate Skygear into exisitng app
