
- const r = React.createElement;

// react: SelectGuide

- const platformIcon = {position: 'absolute', top: '10px', left: '31px'};
- const platformTitle = {fontSize: '16px', margin: '16px 0px 0px 101px'};
- const platformDesc = {fontSize: '12px', margin: '0px 0px 18px 101px'};

div(style={fontFamily: "'Lato', sans-serif", padding: '24px'})

  h4(style={color:'#4a4a4a', fontSize: '13px', margin: '0px'}) GET STARTED NOW!

  p(style={fontSize: '31px', margin: '17px 0px 13px'})
    | Which platform are you getting to start with?

  p(style={fontSize: '16px', margin: '0px 0px 19px'})
    | Choose your platform for developing your app with Skygear.

  div(style= new PlatformStyle('ios'), onClick=setSDK('ios'))
    span(style= new PlatformTickStyle('ios'))
      = r(IconTick)
    span(style=platformIcon)
      = r(IconIos)
    h3(style=platformTitle) iOS
    p(style=platformDesc) Build an app for iPhone, iPad and Apple Watch
    = r(SelectGuideType, SelectGuideTypeProps('ios'))

  div(style= new PlatformStyle('android'), onClick=setSDK('android'))
    span(style= new PlatformTickStyle('android'))
      = r(IconTick)
    span(style=platformIcon)
      = r(IconAndroid)
    h3(style=platformTitle) Android
    p(style=platformDesc) Build an app for Android devices
    = r(SelectGuideType, SelectGuideTypeProps('android'))

  div(style= new PlatformStyle('js'), onClick=setSDK('js'))
    span(style= new PlatformTickStyle('js'))
      = r(IconTick)
    span(style=platformIcon)
      = r(IconWeb)
    h3(style=platformTitle) Web
    p(style=platformDesc) Develop  cross platfrom browser-based app
    = r(SelectGuideType, SelectGuideTypeProps('js'))

// react: SelectGuideType

- const guideIcon = {position: 'absolute', top: '12px', left: '17px'};
- const guideTitle = {fontSize: '16px', margin: '11px 0px 0px 66px'};
- const guideDesc = {fontSize: '12px', margin: '0px 0px 14px 66px'};

div(style= new GuideSelectStyle(sdk))
  div(style=guideStyle, onClick=setGuide('new'))
    span(style=guideIcon)
      = r(IconNew)
    h3(style=guideTitle) New App
    p(style=guideDesc) Building a new app from scratch
  div(style=guideStyle, onClick=setGuide('existing'))
    span(style=guideIcon)
      = r(IconApp)
    h3(style=guideTitle) Exisiting App
    p(style=guideDesc) Integrate Skygear into exisitng app
